/* Mock Admin Dashboard Styles */
/* NOTE: Explicitly given directions to only use the Grid module */
* {
    margin: 0;
    padding: 0;
}

#sidebar a {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 9fr;
}

#sidebar svg {
    justify-self: center;
}

.nav-option {
    text-decoration: none;
}