/* Mock Admin Dashboard Styles */
/* NOTE: Explicitly given directions to only use the Grid module */
* {
    --accent-color: #1992d4;
    margin: 0;
    padding: 0;
    font-family: system-ui, sans-serif;
}

html {
    font-size: 20px;
}

h1 {
    font-size: 1.3rem;
    font-weight: 500;
}

h2 {
    font-size: 1.1rem;
    font-weight: 500;
}

#dashboard {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

/* Sidebar Styles */
#sidebar {
    background-color: var(--accent-color);
    grid-row: 1 / -1;
    padding: 30px 40px;
    text-shadow: -0.1rem 0.1rem 0.1rem  rgb(80 80 80 / 50%);
}

#sidebar div {
    margin-bottom: 10px;
}

#sidebar ul {
    display: grid;
    grid-auto-rows: 2.5em;
    margin-bottom: 50px;
}

#sidebar svg {
    fill: white;
}

#header {
    display: flex;
    color: white;
    gap: 8px;
    align-items: center;
    font-size: 1.8rem;
}

#logo {
    padding-top: 0.3em;
}

#sidebar li {
    display: flex;
    list-style-type: none;
}

#sidebar li:hover {
    transform: translate(0.1em, -0.1em);
    box-shadow: -0.1rem 0.2rem 0.5rem  rgb(80 80 80 / 50%);
}

#sidebar a {
    display: grid;
    align-items: center;
    padding: 0 0.5em;
    grid-template-columns: 1fr 8fr;
    gap: 1rem;
    color: white;
    font-size: clamp(20px, 2vw + 1rem, 24px);
}

#sidebar a:visited {
    color: white;
}

#sidebar svg {
    justify-self: center;
}

.nav-option {
    text-decoration: none;
}

/* Search bar and Hero Styles */
#base {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
    grid-column: 2 / -1;
    grid-row: 1;
    padding: 20px 50px;
    box-shadow: 0 0.2rem 0.5rem rgb(80 80 80 / 50%);
}

#base-top {
    display: grid;
    grid-column: 1;
    grid-template-columns: 6fr 4fr;
}

#search-bar {
    display: grid;
    grid-template-columns: 1em 1fr;
    align-items: center;
    gap: 1.4em;
}

#dash-search {
    grid-column: 2 / -1;
    border-radius: 15px;
    border: none;
    background-color: rgb(213, 213, 213);
    height: 2rem;
    font-size: 1.2rem;
    padding: 0 0.75em;
}

#account-status {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    grid-column: -2 / -1;
}

/* Portion below search bar */
#base-bottom {
    display: flex;
    justify-content: space-between;
}

#user-greeting {
    display: flex;
    gap: 15px;
    align-items: center;
}

.profile-pic {
    object-fit: cover;
    border-radius: 50%;
    height: 100px;
    width: auto;
    border: 2px inset black;
}

#user-greeting-text {
    min-width: 250px;
}

#greet {
    font-size: clamp(0.8rem, 1vw, 26px);
}

#user-name-full {
    font-weight: 600;
    font-size: clamp(1.2rem, 1.5vw, 1.8rem);
}

#user-actions {
    display: flex;
    align-items: center;
    gap: 30px;
}

#user-actions > button {
    font-size: 1rem;
    height: 2.2rem;
    width: 6rem;
    border-radius: 30px;
    border: none;
    background-color: var(--accent-color);
    color: white;
}

/* Main Stage Styles */
#main-stage {
    background-color: rgb(211, 218, 222);
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 1fr 1fr;
    z-index: -1; /* So shadows from top nav display over the main stage */

    padding: 40px 20px;
    gap: 30px;
}

.content-box  h1 {
    margin-bottom: 0.6rem;
}

#projects {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
}

.card-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    overflow: auto;
    gap: 20px;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 10px solid rgb(221, 188, 0);
}

.project-action-bar {
    margin-top: 1rem;
    display: flex;
    justify-content: end;
    gap: 1.75rem;
}

.project-action-bar > svg {
    width: 30px;
}

/* Announcements and Trending Sections */
#announcements {
    grid-column: 2;
    grid-row: 1;
}

#trending {
    grid-column: 2;
    grid-row: 2;
}

.stage-content {
    border-radius: 10px;
    padding: 35px;
    background-color: white;
    box-shadow: 0.2rem 0.1rem 0.3rem  rgb(80 80 80 / 30%);
}

